<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ProJavaForWebApps</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.jspf</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude>/WEB-INF/jsp/base.jspf</include-prelude>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
			<default-content-type>text/html</default-content-type>
		</jsp-property-group>
	</jsp-config>

	<session-config>
		<session-timeout>5</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>AddressContact</param-value>
	</context-param>
	
	<filter>
		<filter-name>normalFilter</filter-name>
		<filter-class>com.filter.AnyRequestFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<filter-name>forwardFilter</filter-name>
		<filter-class>com.filter.AnyRequestFilter</filter-class>
		
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<filter-name>asyncFilter</filter-name>
		<filter-class>com.filter.AnyRequestFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	
	<filter-mapping>
		<filter-name>normalFilter</filter-name>
		<url-pattern>/filter/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>forwardFilter</filter-name>
		<url-pattern>/filter/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>asyncFilter</filter-name>
		<url-pattern>/filter/*</url-pattern>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

</web-app>